.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.profile .picture {
  float: right;
}

.navbar .nav > li > ul > li > a:hover {
  background-color: #333;
}

#gm-container .navbar {
  margin-bottom: 2px;
}

#gm-container .navbar-inner {
  background-color: #bebebe;
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-image: -ms-linear-gradient(top, #ffffff, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background-image: -o-linear-gradient(top, #ffffff, #dddddd);
  background-image: linear-gradient(top, #ffffff, #dddddd);
  background-repeat: repeat-x;
  border-color: #dddddd #dddddd #b7b7b7;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
}

#gm-container .navbar span h6 {
  padding-top: 10px;
  color: #666;
}

#content-container .navbar .nav > li > a {
  padding-bottom: 0.6em;
  color: #333;
}

#content-container .navbar .nav > li > a:hover {
  color: #222;
  background-color: #f1f1f1;
  background-color: #999;
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-image: -ms-linear-gradient(top, #ffffff, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background-image: -o-linear-gradient(top, #ffffff, #dddddd);
  background-image: linear-gradient(top, #ffffff, #dddddd);
  background-repeat: repeat-x;
  border-color: #dddddd #dddddd #b7b7b7;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
  -webkit-box-shadow: 0 0 9px #999999;
     -moz-box-shadow: 0 0 9px #999999;
          box-shadow: 0 0 9px #999999;
}

#content-container .navbar .nav > li.active > a {
  height: 1.5em;
  color: #666;
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-image: -ms-linear-gradient(top, #ffffff, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background-image: -o-linear-gradient(top, #ffffff, #dddddd);
  background-image: linear-gradient(top, #ffffff, #dddddd);
  background-repeat: repeat-x;
  border-color: #dddddd #dddddd #b7b7b7;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
  -webkit-box-shadow: inset -1px 0 9px #999999;
     -moz-box-shadow: inset -1px 0 9px #999999;
          box-shadow: inset -1px 0 9px #999999;
}
