/agana/agana/modules/aganacore/jasper-report-templates/.metadata
.jasper
/agana/agana/modules/persons/.metadata
/loc~
/.hgtags
/.hgignore
sintaxe_error.txt
build-production
*.sh~
*/Thumbs.db
app/themes/ongonline/img/Thumbs.db
app/themes/ongonline/vendor/tinymce/js/tinymce/plugins/emoticons/img/Thumbs.db
app/themes/ongonline/vendor/tinymce/js/tinymce/skins/lightgray/img/Thumbs.db
agana/data
/app/themes/ongonline/vendor/angular/
/app/themes/ongonline/vendor/angular-sanitize/
/app/themes/ongonline/vendor/angular-resource/
/app/themes/ongonline/vendor/angular-route/
/vendor/behat/
/vendor/symfony/
/vendor/autoload.php
/vendor/composer/
/FingerkeyApplet/build/
/FingerkeyApplet/dist/
/FingerkeyApplet/nbproject/private/
logs/
nbproject/